$primary: #FF7800;

$buttonHover: #e0dbdb;
$footerBg: #f7f7f7;
$gray: #F8F9FA;
$sidebarBg: #f8f8f8;
$textDark: #040303;
$sidebarlinkHover: #EDEDF0;
$textActiveLink: #BABABA;
$textPrimary: #212529;
$textSecondary: #707070;
$dividerBg: #E4EAF1;

$black: #000000;
$white: #ffffff;

// BACKGROUNDS
$bodyBackground: #FEF5ED;
$buttonBackground: #F3950D;
$backgroundHover: #FF5403;


// FORM TEXTS
$textPlaceholder: #6B4F4F;
$inputBorder: #EEEEEE;
$focusBorder: #AAA492;

// SIGN TEXTS
$textDanger: #FF2442;

// ANIMATION VARIABLES
